<!DOCTYPE html>
      <html>
         <head>
             <title>Hello</title>
             <link rel='stylesheet'  href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
             <link rel='stylesheet' href='/app.css'>
             <link rel="preconnect" href="https://fonts.googleapis.com">
             <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
             <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">
             <link rel="preconnect" href="https://fonts.googleapis.com">
             <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
             <link href="https://fonts.googleapis.com/css2?family=Merienda&family=Sigmar+One&display=swap" rel="stylesheet">

         </head>
         <body>
               <div class ="container" id ="starter";>
                   <nav>
                        <h2><a href ='/heros/list'>Heros</a></h2>
                        <h2><a href ='/squad/list'>Squads</a></h2>
                        <button><a href="heroform.hbs"/><h3>Add Hero</h3></a></button>
                        <button><a href="Squadform.hbs"/><h3>Add Squad</h3></a></button>

                   </nav>
               </div>
               <div class ="container">
                    <img src ="/images/blue-removebg-preview.png" alt="spiderman">
                    <h1>Hero <span>Squad </span></h1>
{{!--                      <h2>Sworn to protect a world that  hates and fears them </h2> --}}


               </div>
         </body>
      </html>
{{!--  background-image:url("/images/wosuba-removebg-preview.png"); --}}

{{!--  background-image:url('images/blue-removebg-preview.png'); --}}
{{!--   background-repeat:no-repeat; --}}
{{!--   background-size:three-quater; --}}
{{!--   background-position:right; --}}