
{{#block "header"}}

<!DOCTYPE html>
<html>
 <head>
   <title>{{#block "title"}}Heros{{/block}}
</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel ='styleheet' href='/app.css'>
    <link rel='stylesheet'  href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">
 </head>
 <body>
{{/block}}

{{#block "content"}}
   <div class="container"id =starter >
         <h1>Hero Squad </h1>
         <h2>Sworn to protect a world that hates and fears them </h2>
   </div>
{{/block}}

{{#block "footer"}}

 </body>
</html>
{{/block}}