{{#partial "header"}}
<link rel='stylesheet' href='/success.css'>
{{/partial}}
{{#partial "content"}}
    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Success!!!</h3>
            <p class="card-text">Your Squad has been added successfuly.</p>

            <a href="/squad/list" class="btn btn-primary">Checkout Squads</a>
          </div>
        </div>
{{/partial}}

{{> layout.hbs}}